{% extends 'base.html.twig' %}

{% block title %}About Us - Freesia{% endblock %}

{% block body %}
    <style>
        .page_speed_34959496 {
            background-image: url(storage/360/about-us-banner.jpg);
        }
    </style>
    <div class="app" id="app" data-v-page="home-page" data-v-pageAjax-name="home-page">
        <div class="scroll home-page" id="scroll">
            <div class="scroll__outer">
                <header class="innerpages page_speed_34959496">
                    <div class="topbar for-mobile-show" id="for-mobile-show">
                        <div class="web-container">
                            <nav class="navbar navbar-expand-xl navbar-light">
                                <a class="navbar-brand animate w-50"
                                data-animation="fadeInLeft" data-duration="30" href="index.html"><img
                                    src="storage/148/logo-white.svg" alt="" class="w-100"></a>
                                <ul class="navbar-nav ml-auto animate" data-animation="fadeInRight"
                                data-duration="30">
                                    <li class="nav-item">
                                        <a href="javascript:void()" class="nav-link"
                                        id="sidebarCollapse">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                            width="41.5" height="28.725" viewBox="0 0 41.5 28.725">
                                                <g id="Group_20" data-name="Group 20"
                                                transform="translate(-1740 -74)">
                                                    <line id="Line_1" data-name="Line 1" x2="40.5"
                                                    transform="translate(1740.5 74.5)" fill="none"
                                                    stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                    <line id="Line_2" data-name="Line 2" x2="40.5"
                                                    transform="translate(1740.5 88.363)" fill="none"
                                                    stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                    <line id="Line_3" data-name="Line 3" x2="40.5"
                                                    transform="translate(1740.5 102.225)" fill="none"
                                                    stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <section class="hero-banner">
                        <div class="web-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="banner-content">
                                        <h5 class="mb-3">SPECIALIZED IN MEP WORKS</h5>
                                        <h1 class="mb-0">ABOUT US</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="scroll-button">
                                <a href="javascript:void()"
                                        class="btn web-btn disable-link">Scroll</a>
                            </div>
                            <div class="hero-bottom-border">&nbsp;</div>
                        </div>
                    </section>
                </header>
                <section class="about-us">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="about-us-content section-bg-themegrey animate" data-animation="fadeInUp"
                                    data-duration="50">
                                <h2 class="mb-4 pb-4 web-light-text v-view">
                                    <span>FREESIA IN LINES</span></h2>
                                <p class="mb-3 web-btngrey web-font-light v-view">Freesia specializes in MEP Design, Installation, testing and Fabrication of MEP services for Projects. 
Freesia aims to achieve the Best Quality Objective which is to provide Clients with a high level of service and professionalism. This is achieved through a rapid and flexible response to their requirements; ensuring projects are completed on time, exceeding the Clients’ expectations with regard to quality, cost and engaging reliable and experienced vendors. 
</p>
                                <p class="mb-3 web-btngrey web-font-light v-view">Freesia is committed to continually improving the process approach and risk-based thinking by systematically analysing all work processes, implementing all effective and efficient quality assurance procedures.</p>
                                <p>Freesia is committed to complying with all contractual obligations, regulatory requirements, and ISO 9001, 14001 & 45001 requirements. Freesia will sustain an effective Quality Management System by implementing continual improvement.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-us-image animate" data-animation="fadeInUp" data-duration="100">
                                <div class="big-heading">
                                    <h2 class="mb-0 web-lightgrey v-view">
                                        <span>ABOUT US</span></h2>
                                </div>
                                <div class="img-block"><img src="storage/777/about-1.jpg" alt="" class="obj-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mission-vision">
                    <div class="web-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-big-heading">
                                    <h2 class="mb-0 web-light-text v-view">
                                        <span>MISSION</span></h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blank-box"> &nbsp; </div>
                            </div>
                        </div>
                        <div class="row mt-4 mb-4">
                            <div class="col-md-6">
                                <p class="mb-0 pt-3 web-themegrey v-view">To priorities our higher management vision by having customer satisfaction. Also to ensure execution of all projects complying with budget, time and high Quality & to establish Leadership as a "Total MEP Solution Company".</p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0 pt-3 web-themegrey v-view">To establish Freesia as the Leading Diversified International Mechanical, Electrical, Plumbing, Firefighting and Fabrication Company in the Middle East by delivering Complete MEP solutions.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="blank-box"> &nbsp; </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-big-heading">
                                    <h2 class="mb-0 web-light-text v-view">
                                        <span>VISION </span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="core-values animate" data-animation="fadeInUp" data-duration="50">
                    <div class="top-line">&nbsp;</div>
                    <div class="web-container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="core-image">
                                    <div class="img-block"><img src="storage/754/core-values.jpg" class="obj-cover">
                                    </div>
                                    <h2 class="mb-0 v-view">
                                        <span>CORE VALUES</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="values">
                    <div class="value-point">
                        <div class="top-line">&nbsp;</div>
                        <div class="web-container">
                            <div class="row pt-3 pb-3 animate" data-animation="fadeInUp" data-duration="50">
                                <div class="col-md-6">
                                    <div class="logo">
                                        <span class="mr-3"><img
                                                    src="storage/158/core_values_icon_1.svg"/></span>
                                        <span
                                                class="web-themegrey text-uppercase">ETHICS &amp; INTEGRITY</span></div>
                                </div>
                                <div class="col-md-6 align-self-center">
                                    <div class="point-description">
                                        <p class="web-font-light mb-0">We are truly committed to building mutual
                                                trust &amp; respect.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3 pb-3 animate" data-animation="fadeInUp" data-duration="50">
                                <div class="col-md-6">
                                    <div class="logo">
                                        <span class="mr-3"><img
                                                    src="storage/159/core_values_icon_2.svg"/></span>
                                        <span
                                                class="web-themegrey text-uppercase">EXPERTISE &amp; CONFIDENCE</span>
                                    </div>
                                </div>
                                <div class="col-md-6 align-self-center">
                                    <div class="point-description">
                                        <p class="web-font-light mb-0">Our team lead by influence not authority. We
                                                are confident but humble and true to our word.</p>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row pt-3 pb-3 animate" data-animation="fadeInUp" data-duration="50">
                                        <div class="col-md-6">
                                            <div class="logo">
                                                <span class="mr-3"><img
                                                    src="storage/160/core_values_icon_3.svg"/></span>
                                                <span
                                                class="web-themegrey text-uppercase">CLIENT CENTRICITY</span></div>
                                        </div>
                                        <div class="col-md-6 align-self-center">
                                            <div class="point-description">
                                                <p class="web-font-light mb-0">We actively listen to our clients to ensure
                                                complete alignment to ensure we meet expectations.</p>
                                            </div>
                                        </div>
                                    </div>-->
                            <div class="row pt-3 pb-3 animate" data-animation="fadeInUp" data-duration="50">
                                <div class="col-md-6">
                                    <div class="logo">
                                        <span class="mr-3"><img
                                                    src="storage/161/core_values_icon_4.svg"/></span>
                                        <span
                                                class="web-themegrey text-uppercase">QUALITY CONTROL</span></div>
                                </div>
                                <div class="col-md-6 align-self-center">
                                    <div class="point-description">
                                        <p class="web-font-light mb-0">We are dedicated to developing and delivering
                                                high quality workmanship to all our clients and end users.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3 pb-3 animate" data-animation="fadeInUp" data-duration="50">
                                <div class="col-md-6">
                                    <div class="logo">
                                        <span class="mr-3"><img
                                                    src="storage/166/noun_quality-management_1327237-(1).svg"/></span>
                                        <span
                                                class="web-themegrey text-uppercase">We are ISO Certified</span></div>
                                </div>
                                <div class="col-md-6 align-self-center">
                                    <div class="point-description">
                                        <p class="web-font-light mb-0">
                                            <a target="_blank" href="{{ asset('files/Cert1.pdf') }}">ISO 45001:2018 </a>
                                        </p>
                                        <p class="web-font-light mb-0">
                                            <a target="_blank" href="{{ asset('files/Cert2.pdf') }}">ISO 14001:2015</a>
                                        </p>
                                        <p class="web-font-light mb-0">
                                            <a target="_blank" href="{{ asset('files/Cert3.pdf') }}">ISO 9001:2015</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

{% endblock %}