{% extends 'base.html.twig' %}

{% block title %}Careers - Freesia{% endblock %}

{% block body %}

    <style>
    .page_speed_574617101 {
        display: none;
    }

    .page_speed_372348491 {
        background-image: url("storage/755/careers-banner.jpg");
    }
    </style>
    <div class="app" id="app" data-v-page="home-page" data-v-pageAjax-name="home-page">
                <div class="scroll home-page" id="scroll">
                    <div class="scroll__outer">
                        <header class="innerpages page_speed_372348491">
                            <div class="topbar for-mobile-show" id="for-mobile-show">
                                <div class="web-container">
                                    <nav class="navbar navbar-expand-xl navbar-light">
                                        <a class="navbar-brand animate w-50"
                                        data-animation="fadeInLeft" data-duration="30" href="index.html"><img
                                            src="storage/148/logo-white.svg" alt="" class="w-100"></a>
                                        <ul class="navbar-nav ml-auto animate" data-animation="fadeInRight"
                                        data-duration="30">
                                            <li class="nav-item">
                                                <a href="javascript:void()" class="nav-link"
                                                id="sidebarCollapse">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                    width="41.5" height="28.725" viewBox="0 0 41.5 28.725">
                                                        <g id="Group_20" data-name="Group 20"
                                                        transform="translate(-1740 -74)">
                                                            <line id="Line_1" data-name="Line 1" x2="40.5"
                                                            transform="translate(1740.5 74.5)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_2" data-name="Line 2" x2="40.5"
                                                            transform="translate(1740.5 88.363)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_3" data-name="Line 3" x2="40.5"
                                                            transform="translate(1740.5 102.225)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <section class="hero-banner">
                                <div class="web-container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="banner-content">
                                                <h5 class="mb-3">SPECIALIZED IN MEP WORKS</h5>
                                                <h1 class="mb-0">CAREERS</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scroll-button">
                                        <a href="javascript:void()"
                                        class="btn web-btn disable-link">SCROLL</a>
                                    </div>
                                    <div class="hero-bottom-border">&nbsp;</div>
                                </div>
                            </section>
                        </header>
                        <section class="half-g animate" data-animation="fadeInUp" data-duration="50">
                            <div class="top-line">&nbsp;</div>
                            <div class="row no-gutters">
                                <div class="col-md-4">&nbsp;</div>
                                <div class="col-md-8">
                                    <div class="logo-box text-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="640"
                                        height="713.607" viewBox="0 0 640 713.607">
                                            <defs>
                                                <style>
                                                    .cls-2 {
                                                        fill: #fff;
                                                    }
                                                </style>
                                            </defs>
                                            <g id="Group_81" opacity="0.32" transform="translate(11.56 6.905)">
                                                <path id="Path_124"
                                                d="M410.246 439.776a2.144 2.144 0 0 0 1.393.544 1.747 1.747 0 0 0 1.243-.494l27.36-24.292a1.829 1.829 0 0 0 .646-1.385 1.776 1.776 0 0 0-.547-1.386L254.149 227.531a1.9 1.9 0 0 0-1.741-.494 274.674 274.674 0 0 0-41.288 11.428 1.833 1.833 0 0 0-1.194 1.385 1.972 1.972 0 0 0 .5 1.781z"
                                                class="cls-2" transform="translate(19.265 -226.372)"/>
                                                <path id="Path_125"
                                                d="M333.463 390.866a1.946 1.946 0 0 0 1.343.544h.6a155.959 155.959 0 0 1 43.128-7.323 1.941 1.941 0 0 0 1.741-1.187 2.022 2.022 0 0 0-.448-2.078L231.438 233.24a2.047 2.047 0 0 0-2.139-.4 214.261 214.261 0 0 0-33.578 18.56 1.928 1.928 0 0 0-.846 1.435 1.876 1.876 0 0 0 .548 1.484z"
                                                class="cls-2" transform="translate(-40.4 -203.831)"/>
                                                <path id="Path_126"
                                                d="M313.626 398.048a2.144 2.144 0 0 0 1.392.544 1.945 1.945 0 0 0 1.294-.495 149.146 149.146 0 0 1 28.454-21.868 1.977 1.977 0 0 0 .995-1.435 1.726 1.726 0 0 0-.548-1.583l-132.071-131.4a1.9 1.9 0 0 0-2.537 0 275.947 275.947 0 0 0-27.459 24.44 1.875 1.875 0 0 0-.6 1.385 1.779 1.779 0 0 0 .6 1.336z"
                                                class="cls-2" transform="translate(-89.36 -169.802)"/>
                                                <path id="Path_127"
                                                d="M291.128 300.254a1.946 1.946 0 0 0-1.343-.545h-51.834a1.94 1.94 0 0 0-1.791 1.139 1.971 1.971 0 0 0 .448 2.127L476.127 541.1a1.8 1.8 0 0 0 1.343.593 2.1 2.1 0 0 0 1.393-.593l25.569-26.024a1.921 1.921 0 0 0 0-2.721z"
                                                class="cls-2" transform="translate(123.162 60.682)"/>
                                                <path id="Path_128"
                                                d="M313.206 300.254a1.957 1.957 0 0 0-1.344-.545h-51.784a1.892 1.892 0 0 0-1.74 1.187 1.923 1.923 0 0 0 .4 2.079l155.15 153.668a1.793 1.793 0 0 0 1.343.594 1.986 1.986 0 0 0 .747 0 1.88 1.88 0 0 0 1.194-1.78v-51.009a1.928 1.928 0 0 0-.547-1.337z"
                                                class="cls-2" transform="translate(211.268 60.683)"/>
                                                <path id="Path_129"
                                                d="M326.726 299.71h-44.373a1.893 1.893 0 0 0-1.741 1.139 1.971 1.971 0 0 0 .4 2.126l44.373 44.132a1.942 1.942 0 0 0 1.343.544h.746a1.88 1.88 0 0 0 1.195-1.781v-44.132a1.887 1.887 0 0 0-1.941-1.88"
                                                class="cls-2" transform="translate(299.774 60.682)"/>
                                                <path id="Path_130"
                                                d="M393.965 393.386a1.8 1.8 0 0 0 1.343.594 2.187 2.187 0 0 0 1.293-.5l26.712-24.292a2.027 2.027 0 0 0 .648-1.336 1.976 1.976 0 0 0-.6-1.435L284.08 227.251a2.2 2.2 0 0 0-1.244-.544c-8.8-.594-18.8-1.237-29.249-1.237-7.71 0-15.62 0-23.33.743a1.89 1.89 0 0 0-1.642 1.236 1.923 1.923 0 0 0 .448 1.979z"
                                                class="cls-2" transform="translate(93.3 -232.375)"/>
                                                <path id="Path_131"
                                                d="M353.082 330.307a1.8 1.8 0 0 0 1.343.594 2.2 2.2 0 0 0 1.293-.5l31.788-28.1a2.021 2.021 0 0 0 .645-1.435 1.825 1.825 0 0 0-.7-1.434 332.949 332.949 0 0 0-131.918-71.142 1.945 1.945 0 0 0-2.128.925 1.922 1.922 0 0 0 .288 2.292z"
                                                class="cls-2" transform="translate(191.24 -221.442)"/>
                                                <path id="Path_132"
                                                d="M716.877 725.481a2.4 2.4 0 0 0-3.184 0c-126.046 97.2-305.117 85.942-417.852-26.271a314.18 314.18 0 0 1-26.365-415.584 2.317 2.317 0 0 0 0-3.118l-27.409-27.26a2.345 2.345 0 0 0-1.841-.693 2.4 2.4 0 0 0-1.741.891 356.167 356.167 0 0 0 28.32 474C395.573 855.513 600.28 867.61 743.391 755.609a2.22 2.22 0 0 0 .9-1.731 2.317 2.317 0 0 0-.7-1.831z"
                                                class="cls-2" transform="translate(-173.052 -125.484)"/>
                                                <path id="Path_133"
                                                d="M287.176 605.53a241.053 241.053 0 0 1-25.668-313.568 2.415 2.415 0 0 0 0-3.068l-24.872-24.736a2.342 2.342 0 0 0-1.841-.693 2.59 2.59 0 0 0-1.791.94 280.866 280.866 0 0 0 26.636 368.214c99.643 99.1 257.343 110.388 370.225 26.491a2.565 2.565 0 0 0 .945-1.781 2.315 2.315 0 0 0-.7-1.83l-24.275-24.193a2.446 2.446 0 0 0-3.133-.248c-97.166 69.479-230.645 58.67-315.23-25.528"
                                                class="cls-2" transform="translate(-113.051 -82.417)"/>
                                                <path id="Path_134"
                                                d="M495.434 537.772a2.348 2.348 0 0 0-2.934-.346 172.619 172.619 0 0 1-211.647-24.747 170.289 170.289 0 0 1-24.838-210.5 2.513 2.513 0 0 0-.348-2.968l-24.872-24.737a2.5 2.5 0 0 0-1.941-.693 2.34 2.34 0 0 0-1.74 1.039A210.3 210.3 0 0 0 253.1 542.057c71.82 71.429 184.447 82.263 268.7 25.845a2.525 2.525 0 0 0 1.095-1.731 2.469 2.469 0 0 0-.7-1.93z"
                                                class="cls-2" transform="translate(-56.123 -41.721)"/>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="jobs-2021">
                            <div class="web-container">
                                <div class="top-heading">
                                    <h5 class="v-view">
                                        <span> At Freesia, we are always on the look-out for talented
                                        individuals to join our growing team. Apply now if you are experienced
                                        in MEP Field.</span></h5>
                                    <h3 class="v-view">
                                        <span>LATEST JOBS</span></h3>
                                </div>
                                <div class="inner-color">
                                    <h2 class="mb-3 web-light-text pb-3 v-view v-viewed">
                                        <span>APPLY</span></h2>
                                    <p>If you are interested in a career with us, please send your CV to hr@freesia.ae</p>
                                    <!--<div class="mCustomScrollbar _mCS_1">
                                        <div class="latest-jobs">
                                            <h3 class="mb-3 web-light-text pb-3 v-view">
                                                <span>Engineering Supervisor</span>
                                            </h3>
                                            <ul>
                                                <li class="web-font-light web-btngrey v-view"><img
                                                    src="assets/svg/careers/location.svg" alt="">Dubai</li>
                                                <li class="web-font-light web-btngrey v-view"><img
                                                    src="assets/svg/careers/full-time.svg" alt="">Full Time</li>
                                                <li class="web-font-light web-btngrey v-view"><img
                                                    src="assets/svg/careers/work-experience.svg" alt="">02 - 03 years
                                                Experience</li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p class="pb-4 web-font-light web-btngrey v-view">Engineering Supervisor
                                                    required in Dubai</p>
                                                </div>
                                                <div class="col-md-4 text-right v-view">
                                                    <a href="javascript:"
                                                    class="btn web-btn web-btn-theme fadeInUp animate apply_now"
                                                    data-animation="fadeInUp" data-duration="50" data-toggle="modal"
                                                    data-target="#exampleModalCenter" id="6">
                                                        <span>APPLY NOW</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </section>
                        <section class="bottom-graybg"></section>
                        
{% endblock %}