{% extends 'base.html.twig' %}

{% block title %}Contact Us - Freesia{% endblock %}

{% block body %}
    <style>
        .page_speed_589402026 {
            background-image: url(images/Contact_Us_New.jpg);
        }   
    </style>
    
    <div class="app" id="app" data-v-page="home-page" data-v-pageAjax-name="home-page">
                <div class="scroll home-page" id="scroll">
                    <div class="scroll__outer">
                        <header class="innerpages page_speed_589402026">
                            <div class="topbar for-mobile-show" id="for-mobile-show">
                                <div class="web-container">
                                    <nav class="navbar navbar-expand-xl navbar-light">
                                        <a class="navbar-brand animate w-50"
                                        data-animation="fadeInLeft" data-duration="30" href="index.html"><img
                                            src="storage/148/logo-white.svg" alt="" class="w-100"></a>
                                        <ul class="navbar-nav ml-auto animate" data-animation="fadeInRight"
                                        data-duration="30">
                                            <li class="nav-item">
                                                <a href="javascript:void()" class="nav-link"
                                                id="sidebarCollapse">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                    width="41.5" height="28.725" viewBox="0 0 41.5 28.725">
                                                        <g id="Group_20" data-name="Group 20"
                                                        transform="translate(-1740 -74)">
                                                            <line id="Line_1" data-name="Line 1" x2="40.5"
                                                            transform="translate(1740.5 74.5)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_2" data-name="Line 2" x2="40.5"
                                                            transform="translate(1740.5 88.363)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_3" data-name="Line 3" x2="40.5"
                                                            transform="translate(1740.5 102.225)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <section class="hero-banner">
                                <div class="web-container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="banner-content">
                                                <h5 class="mb-3"></h5>
                                                <h1 class="mb-0"></h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scroll-button">
                                        <a href="javascript:void()"
                                        class="btn web-btn disable-link">Scroll</a>
                                    </div>
                                    <div class="hero-bottom-border">&nbsp;</div>
                                </div>
                            </section>
                        </header>
                        <div class="overlay"></div>
                        <section class="contact-details">
                            <div class="web-container">
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <div class="contact-head text-center">
                                            <h5 class="mb-2 v-view">
                                                <span>GET IN TOUCH</span></h5>
                                            <h3 class="mb-3 v-view">
                                                <span>CONTACT US USING <br> THE INFORMATION BELOW</span>
                                            </h3>
                                            <div class="row justify-content-center">
                                                <div class="col-4 col-md-4">
                                                    <div class="contact-info">
                                                        <span class="mr-3"><img
                                                            src="storage/364/contact_icon_1-(1).svg" width="66.791"
                                                            height="68.665"/></span>
                                                        <span>
                                                            <h6 class="mb-0"> 15th Floor, Conrad Hotel (Office Tower),
                                                            Sheikh Zayed Road, Dubai </h6>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-4">
                                                    <div class="contact-info">
                                                        <span class="mr-3"><img
                                                            src="storage/365/contact_icon_2-(1).svg" width="59.141"
                                                            height="59.25"/></span>
                                                        <span>
                                                            <a href="tel:+971 4526 5005">
                                                            +971 4526 5005</a></span></div>
                                                </div>
                                                <div class="col-4 col-md-4">
                                                    <div class="contact-info">
                                                        <span class="mr-3"><img
                                                            src="storage/366/contact_icon_3-(2).svg" width="60.186"
                                                            height="48.549"/></span>
                                                        <span>
                                                            <a
                                                            href="mailto:info@gardinia.ae">
                                                            info@freesia.ae</a><br></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-line">&nbsp;</div>
                        </section>
                        <section class="contact-form">
                            <div class="row no-gutters">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-block animate" data-animation="fadeInUp" data-duration="50">
                                        <h2 class="mb-3">DROP US A LINE</h2>
                                        <p class="mb-3 w-75">For more information about our professional services please
                                        contact us today.</p>
                                        <form id="contact" method="POST" action="/submit-contact-us"
                                        class="page_speed_1405505539">
                                            <div id="alert"></div><input type="hidden" name="_token"
                                            value="ktY8LipT1AAf0gfpcR6T1eNQT9Emf1sefHCrhTkC">
                                            <div class="row no-gutters">
                                                <div class="col-md-6 pr-1">
                                                <input type="text"
                                                    class="form-control w-100 mb-2" id="name" name="name" placeholder="Your Name" required>
                                                </div>
                                                <div class="col-md-6 pl-1">
                                                    <input type="email"
                                                    class="form-control w-100 mb-2" id="email" name="email"
                                                    placeholder="Your Email"></div>
                                                <div class="col-md-12"><input type="text" class="form-control w-100 mb-2"
                                                    name="subject" id="subject" placeholder="Your Subject"></div>
                                                <div class="col-md-12">
                                                    <textarea class="form-control w-100 mb-3 pt-3"
                                                    rows="10" name="message" id="message" placeholder="Your Message"></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="button"
                                                    class="btn web-btn web-btn-theme w-100" onclick="submitContact()">
                                                        <span>SUBMIT</span></button>
                                                </div>
                                            </div>
                                            <div id="alert" class="mt-3"></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="map-block animate h-100" data-animation="fadeInUp" data-duration="80">
                                        <iframe style="width: 100%; height: 100%"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3609.3242966512425!2d55.28139461501009!3d25.225999983882804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDEzJzMzLjYiTiA1NcKwMTcnMDAuOSJF!5e0!3m2!1sen!2s!4v1622129901172!5m2!1sen!2s"
                                        class="page_speed_1128225922" allowfullscreen="" loading="lazy"></iframe>
                                    </div>
                                </div>
                            </div>
              
              <script>
                function submitContact(){
                    let name = $("#name"),
                        email = $("#email"),
                        subject = $("#subject"),
                        message = $("#message"),
                        errors  = "";
                    
                    console.log( message.val() )
                    
                    if( ! name.val() ) {
                        errors = "Please enter your Name \n";
                    }  
                    if( ! subject.val() ){
                        errors += "Please write a Subject \n";
                    }
                    if( email.val() && !/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test( email.val() ) ){
                        errors += "Please enter a valid Email \n";
                    }
                    if( ! message.val() ){
                        errors += "Please write your Message \n";
                    }
                    
                    if( errors && errors.length ){
                        alert( errors );
                        
                        return;
                    }
                    
                    $.ajax({
                        url: "{{ path('submit_contact_us') }}",
                        type: "POST",
                        data: {
                            name: name.val(), 
                            email: email.val(),
                            subject: subject.val(),
                            message: message.val()
                        }
                    })
                    .done(response => {
                        console.log(response);
                        alert("Thank You");
                        window.location.reload();
                    })
                    .catch(error => {
                        console.log(error);
                        alert("Thank You");
                        window.location.reload();
                    })
                }
              </script>
              
{% endblock %}