<div class="topbar for-desktop-show header_fixed show-fixed" id="topheader">
    <div class="web-container">
        <nav class="navbar navbar-expand-xl navbar-light"><a class="navbar-brand animate w-50"
                data-animation="fadeInLeft" data-duration="30" href="index.html"><img
                    src="{{ asset('images/Freesia_Log_New.png') }}" alt="Freesia"
                    style="width: 100px; height: 60px; transform: scale(2.5)"></a>
            
            <ul class="navbar-nav ml-auto animate" data-animation="fadeInRight" data-duration="30">
                <ul class="topmenu" id="expandedMenu">
                    <li class="nav-item"><a class="nav-link web-light-text" target="_self"
                            href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link web-light-text" target="_self"
                            href="/about-us">About Us</a></li>
                    <li class="nav-item"><a class="nav-link web-light-text" target="_self"
                            href="/our-team">Our Team</a></li>
                    <li class="nav-item"><a class="nav-link web-light-text" target="_self"
                            href="/partners">Our Partners</a></li>
                    <li class="nav-item"><a class="nav-link web-light-text" target="_self"
                            href="/projects">Our Projects</a></li>
                    <li class="nav-item"><a class="nav-link web-light-text" target="_self"
                            href="/albums">Image Gallery</a></li>
                    <li class="nav-item"><a class="nav-link web-light-text" target="_self"
                            href="/careers">Careers</a></li>
                    <li class="nav-item"><a class="nav-link web-light-text" target="_self"
                            href="/contact-us">Contact Us</a></li>
                </ul>
                <li class="nav-item menu-bar-icons"><a href="javascript:void()" class="nav-link"
                        id="toExpand"><span></span><span></span><span></span></a></li>
            </ul>
        </nav>
    </div>
</div>
