{% extends 'base.html.twig' %}

{% block title %}Privacy Policy - Freesia{% endblock %}

{% block body %}
<style>
.page_speed_1007469536 {
                background-image: url("storage/171/privacy-banner.jpg");
            }
</style>
<div class="app" id="app" data-v-page="home-page" data-v-pageAjax-name="home-page">
                <div class="scroll home-page" id="scroll">
                    <div class="scroll__outer">
                        <header class="innerpages page_speed_1007469536">
                            <div class="topbar for-mobile-show" id="for-mobile-show">
                                <div class="web-container">
                                    <nav class="navbar navbar-expand-xl navbar-light">
                                        <a class="navbar-brand animate w-50"
                                        data-animation="fadeInLeft" data-duration="30" href="index.html"><img
                                            src="storage/148/logo-white.svg" alt="" class="w-100"></a>
                                        <ul class="navbar-nav ml-auto animate" data-animation="fadeInRight"
                                        data-duration="30">
                                            <li class="nav-item">
                                                <a href="javascript:void()" class="nav-link"
                                                id="sidebarCollapse">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                    width="41.5" height="28.725" viewBox="0 0 41.5 28.725">
                                                        <g id="Group_20" data-name="Group 20"
                                                        transform="translate(-1740 -74)">
                                                            <line id="Line_1" data-name="Line 1" x2="40.5"
                                                            transform="translate(1740.5 74.5)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_2" data-name="Line 2" x2="40.5"
                                                            transform="translate(1740.5 88.363)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_3" data-name="Line 3" x2="40.5"
                                                            transform="translate(1740.5 102.225)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <section class="hero-banner">
                                <div class="web-container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="banner-content">
                                                <h5 class="mb-3">SPECIALIZED IN MEP WORKS</h5>
                                                <h1 class="mb-0">PRIVACY POLICY</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scroll-button">
                                        <a href="javascript:void()"
                                        class="btn web-btn disable-link">SCROLL</a>
                                    </div>
                                    <div class="hero-bottom-border">&nbsp;</div>
                                </div>
                            </section>
                        </header>
                        <section id="termsContent"
                        class="section-padtop-100 section-padbottom-100 terms-and-privacy-content animate"
                        data-animation="fadeInUp" data-duration="50">
                            <div class="top-line text-center"></div>
                            <div class="web-container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="mb-2 v-view">
                                            <span>Freesia WEBSITE COOKIE AND PRIVACY POLICY</span></h4>
                                        <p class="mb-5">This cookie policy applies to the website. By continuing to browse
                                        the www.Freesia.ae website, you are consenting to our use of cookies in
                                        accordance with this cookie policy. If you do not agree to our use of cookies in
                                        this way, you should set your browser settings accordingly or not use the
                                        www.Freesia.ae website. If you disable the cookies that we use, this may impact
                                        your user experience while on the www.Freesia.ae website.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>WHAT ARE COOKIES?</span></h4>
                                        <p class="mb-5">A cookie is a small file of data-letters and numbers we store on
                                        your browser or your computer or other internet enabled mobile device such as a
                                        smartphone or tablet. A cookie will usually contain the name of the website from
                                        which the cookie has come, the &ldquo;lifetime&rdquo; of the cookie (i.e. how
                                        long it will remain on your device) and a value, which is usually a randomly
                                        generated unique number.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>WHAT DO WE USE COOKIES FOR?</span></h4>
                                        <p class="mb-5">Cookies allow the website to &ldquo;remember&rdquo; your actions or
                                        preferences over time, such as your preferred language and other settings. Our
                                        website uses cookies to distinguish you from other users of our website. This
                                        helps us to provide you with a good experience when you browse our website and
                                        also allows us to improve our site. Cookies may also be used to help speed up
                                        your future activities and experience on the www.Freesia.ae website. We also
                                        use cookies to compile anonymous, aggregated statistics that allow us to
                                        understand how people use the www.Freesia.ae website and to help us improve its
                                        structure and content. We cannot identify you personally from this information.
                                        Cookies play an important role. Without them, using the web would be a much more
                                        frustrating experience.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>WHAT TYPES OF COOKIES DO WE USE?</span></h4>
                                        <p class="mb-5">www.Freesia.ae uses session cookies which are temporary cookies
                                        that remain on your device until you leave the www.Freesia.ae
                                        website.<br/><br/>The cookies we use are &ldquo;analytical&rdquo; cookies
                                        which allow us to recognize and count the number of visitors and to see how
                                        visitors move around the site when they are using it. This helps us to improve
                                        the way our website works, for example by ensuring that users are finding what
                                        they are looking for easily. Overall, cookies help us provide the user with a
                                        better website. A cookie does not give us access to the user&rsquo;s computer or
                                        any information about him/her, other than the data he/she chooses to share with
                                        us.<br/><br/>Read more about the individual cookies we use, the purposes for
                                        which we use them and how to recognise them by clicking here or referring to the
                                        table below.<br/><br/>Please note that third parties (including, for example,
                                        advertising networks and providers of external services like web traffic
                                        analysis services) may also use cookies, over which we have no control. These
                                        cookies are likely to be analytical/performance cookies or targeting cookies.
                                    </p>
                                        <h4 class="mb-2 v-view">
                                            <span>DO WE USE THIRD PARTY COOKIES?</span></h4>
                                        <p class="mb-5">There are links to a number of social media websites on the
                                        www.Freesia.ae website. These third parties may also set cookies on your device
                                        on our behalf when you visit the www.Freesia.ae website to allow them to
                                        deliver the services they are providing. We don&rsquo;t control the setting of
                                        these cookies, so please check those website for more information about their
                                        cookies and how to manage them.<br/><br/>When you visit the www.Freesia.ae
                                        website you may receive cookies from third party websites or domains. We
                                        endeavor to identify these cookies before they are used so that you can decide
                                        whether or not you wish to accept them. More information about these cookies may
                                        be available on the relevant third party&rsquo;s website.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>HOW CAN I CONTROL OR DELETE COOKIES?</span></h4>
                                        <p class="mb-5">You can choose to accept or decline cookies. Accepting cookies is
                                        usually the best way to make sure you get the most from a website. Some people
                                        prefer not to allow cookies, which is why most browsers give you the ability to
                                        manage cookies to suit you. Most browsers automatically accept cookies, but
                                        users can set up rules in their browsers to restrict, block or delete cookies on
                                        a site-by-site basis, giving you more fine-grained control over your privacy.
                                        What this means is that you can disallow cookies from all sites expect those you
                                        trust. However, this may prevent the user from taking full advantage of our
                                        website. You can also delete cookies from your computer or device whenever you
                                        like. Each browser is different, so check the &ldquo;Help&rdquo; menu of your
                                        particular browser (or your smartphone or tablet&rsquo;s manual) to learn how to
                                        change your cookie preferences. Many browsers have universal privacy settings
                                        for you to choose from.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>WHAT HAPPENS IF I DELETE MY COOKIES?</span></h4>
                                        <p class="mb-5">If you delete all your cookies, some aspects of our site may not
                                        work.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>HOW DO COOKIES AFFECT MY PRIVACY?</span></h4>
                                        <p class="mb-5">You can visit our website without revealing any personal
                                        information.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>INFORMATION WE COLLECT ABOUT YOU AND HOW WE COLLECT
                                            IT</span></h4>
                                        <p class="mb-5">We collect several types of information from and about users of our
                                        Website, including information:</p>
                                        <h4 class="mb-2 v-view">
                                            <span>INFORMATION COLLECTION AND USE</span></h4>
                                        <p class="mb-5">We will not sell, trade or disclose to any third party other than an
                                        entity in Freesia&nbsp;(in this privacy policy, &lsquo;we&rsquo;,
                                        &lsquo;us&rsquo; and &lsquo;our&rsquo; means Freesia) any information derived
                                        from the use of any online service without the consent of the user (except as
                                        required by law or in the case of imminent physical harm to the user or others).
                                        When we use third parties to perform services on our behalf, we will ensure that
                                        such third parties protect the user&rsquo;s personal information in a manner
                                        which is consistent with this statement.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>SECURITY</span></h4>
                                        <p class="mb-5">We will take appropriate steps to protect the personal information
                                        you share with us. We have implemented technology and security features to
                                        safeguard the privacy of your personal information.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>LINKS</span></h4>
                                        <p class="mb-5">Our website may contain links to other websites as well as
                                        information provided by third parties. Please be aware that we are not
                                        responsible for the privacy practices of, or the information contained on or
                                        sourced from, websites not operated by any company within Freesia. We encourage
                                        our users to read the privacy statements of each website that collects
                                        personally identifiable information. This privacy statement applies solely to
                                        information collected by our website.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>CORRECTION/UPDATING OF PERSONAL INFORMATION</span>
                                        </h4>
                                        <p class="mb-5">If a user&rsquo;s personally identifiable information changes, we
                                        will provide a way to correct, update or remove that user&rsquo;s personal
                                        information provided to us.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>CHOICE/OPT-OUT</span></h4>
                                        <p class="mb-5">Users who no longer wish to receive promotional materials may
                                        opt-out of receiving these communications by sending a mail to
                                        info@www.Freesia.ae with &ldquo;Unsubscribe&rdquo; in the subject
                                        line.<br/><br/>Users of our website will always be notified when their
                                        information is being collected by any outside parties. We do this so our users
                                        can make an informed choice as to whether they should proceed with services that
                                        require an outside party or not.</p>
                                        <h4 class="mb-2 v-view">
                                            <span>NOTIFICATION OF CHANGES</span></h4>
                                        <p class="mb-0">If we decide to change our privacy policy, we will post those
                                        changes on the www.Freesia.ae website so our users are always aware of what
                                        information we collect, how we use it, and under what circumstances, if any, we
                                        disclose it. If at any point we decide to use personally identifiable
                                        information in a manner different from that stated at the time it was collected,
                                        we will notify users by way of an email. Users will have a choice as to whether
                                        or not we use their information in this different manner. We will use
                                        information in accordance with the privacy policy under which the information
                                        was collected.</p>
                                    </div>
                                </div>
                            </div>
                        </section>
{% endblock %}