{% extends 'base.html.twig' %}

{% block title %}Projects - Freesia{% endblock %}

{% block body %}
    <style>
    .page_speed_1353714396 {
        background-image: url("storage/298/project-banner.jpg");
    }
    </style>
    <div class="app" id="app" data-v-page="home-page" data-v-pageAjax-name="home-page">
                <div class="scroll home-page" id="scroll">
                    <div class="scroll__outer">
                        <header class="innerpages page_speed_1353714396">
                            <div class="topbar for-mobile-show" id="for-mobile-show">
                                <div class="web-container">
                                    <nav class="navbar navbar-expand-xl navbar-light">
                                        <a class="navbar-brand animate w-50"
                                        data-animation="fadeInLeft" data-duration="30" href="index.html"><img
                                            src="storage/148/logo-white.svg" alt="" class="w-100"></a>
                                        <ul class="navbar-nav ml-auto animate" data-animation="fadeInRight"
                                        data-duration="30">
                                            <li class="nav-item">
                                                <a href="javascript:void()" class="nav-link"
                                                id="sidebarCollapse">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                    width="41.5" height="28.725" viewBox="0 0 41.5 28.725">
                                                        <g id="Group_20" data-name="Group 20"
                                                        transform="translate(-1740 -74)">
                                                            <line id="Line_1" data-name="Line 1" x2="40.5"
                                                            transform="translate(1740.5 74.5)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_2" data-name="Line 2" x2="40.5"
                                                            transform="translate(1740.5 88.363)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_3" data-name="Line 3" x2="40.5"
                                                            transform="translate(1740.5 102.225)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <section class="hero-banner">
                                <div class="web-container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="banner-content"
                                                <h5 class="mb-3">SPECIALIZED IN MEP WORKS</h5>
                                                <h1 class="mb-0">OUR PROJECTS</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scroll-button">
                                        <a href="javascript:void()"
                                        class="btn web-btn disable-link">Scroll</a>
                                    </div>
                                    <div class="hero-bottom-border">&nbsp;</div>
                                </div>
                            </section>
                        </header>
                        <section class="our-projects section-padtop-100 section-padbottom-100 section-bg-white">
                            <div class="top-line text-center">&nbsp;</div>
                            <div class="web-container-small pr-4 pl-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-block big-box"><img src="storage/1817/riviera-611x540px.jpg"
                                                alt="" class="obj-cover"></div>
                                            <h3 class="mt-4 mb-0 v-view">RIVIERA</h3>
                                            <h5 class="mb-2 v-view">
                                                <span>Al Meydan Street</span></h5>
                                            <p class="web-light web-font-light mb-0 w-75 v-view">Mixed use community
                                            comprising of residential apartments and retail outlets.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-block small-box"><img
                                                src="storage/1818/park-avenue-611x540px.jpg" alt="" class="obj-cover">
                                            </div>
                                            <h3 class="mt-4 mb-0 v-view">PARK AVENUE</h3>
                                            <h5 class="mb-2 v-view">
                                                <span>Meydan Avenue, MBR City, Dubai</span></h5>
                                            <p class="web-light web-font-light mb-0 w-75 v-view">Mixed use community
                                            comprising of residential and retail properties.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-block small-box"><img
                                                src="storage/1816/creekviews-611x540px.jpg" alt="" class="obj-cover">
                                            </div>
                                            <h3 class="mt-4 mb-0 v-view">CREEK VIEWS</h3>
                                            <h5 class="mb-2 v-view">
                                                <span>Dubai Healthcare City, Dubai</span></h5>
                                            <p class="web-light web-font-light mb-0 w-75 v-view">Mixed use community
                                            featuring residential properties and retail space.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-block big-box"><img src="images/Jaya__5.jpg" alt=""
                                                class="obj-cover"></div>
                                            <h3 class="mt-4 mb-0 v-view">VENICE</h3>
                                            <h5 class="mb-2 v-view">
                                                <span>Luxury Crystal Lagoon Community</span></h5>
                                            <p class="web-light web-font-light mb-0 w-75 v-view">Landscaping at Venice, a
                                            residential beachfront community.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
{% endblock %}
