{% extends 'base.html.twig' %}

{% block title %}Terms and Conditions - Freesia{% endblock %}

{% block body %}
<style>
.page_speed_1699680601 {
                background-image: url("storage/171/privacy-banner.jpg");
            }
</style>
    <div class="app" id="app" data-v-page="home-page" data-v-pageAjax-name="home-page">
            <div class="scroll home-page" id="scroll">
                <div class="scroll__outer">
                    <header class="innerpages page_speed_1699680601">
                        <div class="topbar for-mobile-show" id="for-mobile-show">
                            <div class="web-container">
                                <nav class="navbar navbar-expand-xl navbar-light"><a class="navbar-brand animate w-50"
                                        data-animation="fadeInLeft" data-duration="30" href="index.html"><img
                                            src="storage/148/logo-white.svg" alt="" class="w-100"></a>
                                    <ul class="navbar-nav ml-auto animate" data-animation="fadeInRight"
                                        data-duration="30">
                                        <li class="nav-item"><a href="javascript:void()" class="nav-link"
                                                id="sidebarCollapse"><svg xmlns="http://www.w3.org/2000/svg"
                                                    width="41.5" height="28.725" viewBox="0 0 41.5 28.725">
                                                    <g id="Group_20" data-name="Group 20"
                                                        transform="translate(-1740 -74)">
                                                        <line id="Line_1" data-name="Line 1" x2="40.5"
                                                            transform="translate(1740.5 74.5)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1" />
                                                        <line id="Line_2" data-name="Line 2" x2="40.5"
                                                            transform="translate(1740.5 88.363)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1" />
                                                        <line id="Line_3" data-name="Line 3" x2="40.5"
                                                            transform="translate(1740.5 102.225)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1" />
                                                    </g>
                                                </svg></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <section class="hero-banner">
                            <div class="web-container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="banner-content">
                                            <h5 class="mb-3">SPECIALIZED IN MEP WORKS</h5>
                                            <h1 class="mb-0">TERMS &amp; CONDITION</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="scroll-button"><a href="javascript:void()"
                                        class="btn web-btn disable-link">SCROLL</a></div>
                                <div class="hero-bottom-border">&nbsp;</div>
                            </div>
                        </section>
                    </header>
                    <section id="termsContent"
                        class="section-padtop-100 section-padbottom-100 terms-and-privacy-content animate"
                        data-animation="fadeInUp" data-duration="50">
                        <div class="top-line text-center"></div>
                        <div class="web-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="mb-3">By accessing this web site (&lsquo;Website&rsquo;), you are agreeing
                                        to be bound by these terms and conditions and all applicable laws and
                                        regulations, which you hereby represent and warrant to have read, understood and
                                        to agree with in full. Additional terms of use apply in accessing/using certain
                                        select features of the Website e.g. initiating webchat, making payments etc. You
                                        will be required to read understand and agree in full to such additional terms
                                        of use before proceeding that module/section.</p>
                                    <p class="mb-4">If you do not agree with any of these terms, you are prohibited from
                                        using or accessing any further this Website and you must immediately exit from
                                        the Website.</p>
                                    <h4 class="mb-2 v-view"><span>1. License</span></h4>
                                    <p class="mb-5">Permission is granted to temporarily access and download one copy of
                                        the materials (information or software) as available on the Website for
                                        personal, non-commercial transitory viewing only. The materials contained in
                                        this Website are protected by applicable copyright and trade-mark
                                        law.<br /><br />This is the grant of a license, not a transfer of title, and
                                        under this license you may not:<br /><br />(a) modify or copy any
                                        materials;<br />(b) use the materials for any commercial purpose, or for any
                                        public display (commercial or non-commercial);<br />(c) attempt to decompile or
                                        reverse engineer any software/ feature/ link/ access contained or accessed
                                        through the Website;<br />(d) remove any copyright or other proprietary
                                        notations from the materials; or<br />(e) transfer the materials to another
                                        person or &quot;mirror&quot; the materials on any other server.<br />In the
                                        event you temporarily download any material from the Website for your own
                                        personal and non-commercial use then you agree to ensure that<br /><br />(a) No
                                        documents or related graphics on such downloaded material are modified in any
                                        way;<br />(b) No graphics, text etc. are used separately from the corresponding
                                        text/graphics; and<br />(c) The Company&#39;s copyright and trade-mark notices
                                        appear in all copies.<br />Unless otherwise stated, the copyright and other
                                        intellectual property rights in all material on the Website (including without
                                        limitation photographs and graphical images) are owned by Freesia (the
                                        &lsquo;Company&rsquo;) or its licensors. For the purposes of these conditions of
                                        use, any use of extracts from the Website other than in accordance with these
                                        terms are for any purpose is prohibited.<br /><br />If you breach any of the
                                        terms in these conditions of use, without prejudice to the rights and remedies
                                        available to the Company, your permission to use the Website automatically
                                        terminates and you must immediately destroy any and all downloaded or printed
                                        extracts from the Website.<br /><br />No part of the Website may be
                                        accessed/reproduced or stored in any other website or included in any public or
                                        private electronic retrieval system or service without the Company&#39;s prior
                                        written permission.<br /><br />You hereby acknowledge that you have not relied
                                        and will not rely upon any representation of fact or opinion contained in the
                                        Website in relation to any current or future agreement you have or will have
                                        with the Company or any third party.</p>
                                    <h4 class="mb-2 v-view"><span>2. Copyrights and Trademarks</span></h4>
                                    <p class="mb-5">Unless otherwise noted, all materials including without limitation,
                                        logos, brand names, images, designs, photographs, video clips and written and
                                        other materials that appear as part of our Website are copyrights, trademarks,
                                        service marks, trade dress and/or other intellectual property whether registered
                                        or unregistered (&quot;Intellectual Property&quot;) owned, controlled or
                                        licensed by Freesia. Our Website as a whole is protected by copyright and
                                        trademark protection laws. Nothing on our Website should be construed as
                                        granting, by implication, estoppel or otherwise, any license or right to use any
                                        Intellectual Property displayed or used on our Website, without the prior
                                        written permission of Freesia<br /><br />Freesia aggressively enforces its
                                        intellectual property rights to the fullest extent of the law. The names and
                                        logos of Freesia and its group companies, may not be used in any way, including
                                        in advertising or publicity pertaining to distribution of materials on our
                                        Website, without prior, written permission from Freesia. Freesia prohibits use
                                        of any of its logo or any of its affiliates as part of a link to or from any
                                        Website unless Freesia approves such link in advance and in writing. Fair use
                                        of Freesia Intellectual Property requires proper acknowledgment. Other product
                                        and company names mentioned in our Website may be the Intellectual Property of
                                        their respective owner</p>
                                    <h4 class="mb-2 v-view"><span>3. Disclaimer</span></h4>
                                    <p class="mb-5">The materials on Freesia&#39;s web site are provided &quot;as
                                        is&quot;. Freesia makes no warranties, expressed or implied, and hereby
                                        disclaims and negates all other warranties, including without limitation,
                                        implied warranties or conditions of merchantability, fitness for a particular
                                        purpose, or non-infringement of intellectual property or other violation of
                                        rights. Further, Freesia does not warrant or make any representations
                                        concerning the accuracy, likely results, or reliability of the use of the
                                        materials on its Internet web site or otherwise relating to such materials or on
                                        any sites linked to this site.<br /><br />Any product or service description on
                                        the Website is not intended to constitute offers to sell or solicitations in
                                        connection with such products or services. The Company does not represent or
                                        warrant that all its products or services shall be available at all of its
                                        offices, at all times.<br /><br />While the Company endeavors to ensure that the
                                        Website is normally available 24 hours a day, the Company shall not be liable if
                                        for any reason the Website is unavailable at any time. Access to the Website may
                                        be suspended temporarily and without notice in the case of system failure,
                                        maintenance or repair, or for reasons beyond the Company&#39;s control. The
                                        Company does not assume any liability for timely, trouble-free and uninterrupted
                                        access to the internet.</p>
                                    <h4 class="mb-2 v-view"><span>4. Limitations</span></h4>
                                    <p class="mb-5">In no event shall Freesia or its suppliers be liable for any
                                        damages (including, without limitation, damages for loss of data or profit, or
                                        due to business interruption,) arising out of the use or inability to use the
                                        materials on Website, even if the Company or any of its representative has been
                                        notified orally or in writing of the possibility of such damage.<br /><br />You
                                        are prohibited from posting or transmitting to or from the Website any
                                        material:<br /><br />1. that is threatening, defamatory, obscene, indecent,
                                        seditious, offensive, pornographic, abusive, liable to incite racial hatred,
                                        discriminatory, menacing, scandalous, inflammatory, blasphemous, in breach of
                                        confidence, in breach of privacy or which may cause annoyance or inconvenience;
                                        or<br /><br />For which you do not have necessary consents, licenses and/or
                                        approvals; or<br />which constitutes or encourages conduct that would be
                                        considered a criminal offence, give rise to civil liability, or otherwise be
                                        contrary to the law of or infringe the rights of any third party, in any country
                                        in the world; or<br />Which is technically harmful (including, without
                                        limitation, computer viruses, logic bombs, trojan horses, worms, harmful
                                        components, corrupted data or other malicious software or harmful data).The
                                        Company shall fully co-operate with any law enforcement authorities or court
                                        order requesting or directing the Company to disclose the identity or locate
                                        anyone posting any material in breach of these terms.<br /><br />You must not
                                        misuse the Website (including, without limitation, by hacking).</p>
                                    <h4 class="mb-2 v-view"><span>5. Intellectual Property Right</span></h4>
                                    <p class="mb-5">Other than the content you own, under these Terms, Freesia and/or
                                        its licensors own all the intellectual property rights and materials contained
                                        in this Website.</p>
                                    <h4 class="mb-2 v-view"><span>6. User Account</span></h4>
                                    <p class="mb-5">If you are an owner of an account on this website, you are solely
                                        responsible for maintaining the confidentiality of your private user details
                                        (for example, but not limited to, username and password). You are responsible
                                        for all activities that occur under your user account.</p>
                                    <h4 class="mb-2 v-view"><span>7. Revisions and Errata</span></h4>
                                    <p class="mb-5">The materials appearing on the Website may include technical,
                                        typographical, or photographic errors. The Company does not represent or warrant
                                        that any of the data/ information/ materials on its web site are accurate,
                                        complete, or current. The Company may make changes to any of the data/
                                        information / materials contained on its Website at any time without giving any
                                        prior notice.<br /><br />Freesia does not, however, make any commitment or
                                        assurance to update any materials and/or to keep any such data/ information /
                                        material updated.</p>
                                    <h4 class="mb-2 v-view"><span>8. Links</span></h4>
                                    <p class="mb-5">There may be links to third party websites on the Website. Such
                                        third-party links on the Website are provided solely for your convenience. If
                                        you use these links, you leave the Website. The Company has not reviewed these
                                        third-party sites linked on/ to/ from the Website and is not responsible for the
                                        contents of any such linked site. The Company therefore does not endorse or make
                                        any representations about them, or any material found there, or any results that
                                        may be obtained from using them. The inclusion of any link does not imply
                                        endorsement by the Company of the site. Use of any such linked web site is at
                                        the user&#39;s own risk and all liabilities associated or arising from such
                                        third-party sites are hereby disclaimed.</p>
                                    <h4 class="mb-2 v-view"><span>9. Promotions/ Offers / Third Party Offers</span></h4>
                                    <p class="mb-5">The Website may refer or guide you to certain promotional offers.
                                        Such promotional offers may only be applicable to certain select customers and
                                        by virtue of such offer being posted or being available on the Website does not
                                        entitle you to be eligible to claim/redeem such offer. Eachh4 such promotion/
                                        offer may have different eligibility terms and conditions which you would need
                                        to qualify to be eligible to avail the promotion/offer. You are hereby advised
                                        to contact us for more details on terms and conditions including detailed
                                        eligibility terms as applicable on such offers or promotions. In the event any
                                        such offer, or promotion is provided through or by a third party then the
                                        Company shall not be liable to you in any way for any acts, errors or omissions
                                        of such third-party partner.</p>
                                    <h4 class="mb-2 v-view"><span>10. Governing Law</span></h4>
                                    <p class="mb-5">These conditions of use including any claim relating to
                                        Freesia&#39;s web site shall be governed by and construed in accordance with
                                        the law of the United Arab Emirates (UAE). Disputes arising in connection with
                                        the conditions of use shall be subject to the exclusive jurisdiction of the
                                        Dubai Courts.</p>
                                    <h4 class="mb-2 v-view"><span>11. Additional Terms &amp; Site Terms of Use
                                            Modifications</span></h4>
                                    <p class="mb-5">The Company may revise these terms of use for its Website at any
                                        time without notice. By using this Website, you are agreeing to be bound by the
                                        then current version of these terms and conditions of use.</p>
                                    <h4 class="mb-2 v-view"><span>12. Liability</span></h4>
                                    <p class="mb-0">The Company, any other associated party (whether or not involved in
                                        creating, producing, maintaining or delivering the Website), and any of the
                                        Company&#39;s group companies and the officers, directors, employees,
                                        shareholders or agents of any of them, exclude all liability and responsibility
                                        for any amount or kind of loss or damage that may result to you or a third party
                                        (including without limitation, any direct, indirect, punitive or consequential
                                        loss or damages, or any loss of income, profits, goodwill, data, contracts, or
                                        loss or damages arising from or connected in any way to business interruption,
                                        and whether in tort, including without limitation negligence, whether
                                        contractual or otherwise, in connection with the Website in any way, such as
                                        through the use, inability to use or the results of use of the Website, any
                                        websites linked to the Website or the material on such websites, including but
                                        not limited to loss or damage due to viruses that may infect your computer
                                        equipment, software, data or other property on account of your access to, use
                                        of, or browsing the Website or your downloading of any material from the Website
                                        or any websites linked to the Website. If your use of Website or any downloaded
                                        material results in the need for servicing, repair or correction of equipment,
                                        software or data, you assume all costs thereof.</p>
                                </div>
                            </div>
                        </div>
                    </section>
{% endblock %}